#üìå Extrac√£o

In [ ]:
!pip install pandas
!pip install matplotlib seaborn
!pip install numpy

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import json

In [ ]:
df = pd.read_json('https://raw.githubusercontent.com/alura-cursos/challenge2-data-science/refs/heads/main/TelecomX_Data.json')
df.head()

#üîß Transforma√ß√£o

In [ ]:
df_norm_customer  = pd.json_normalize(df['customer'])
df_norm_internet  = pd.json_normalize(df['internet'])
df_norm_phone  = pd.json_normalize(df['phone'])
df_norm_account = pd.json_normalize(df['account'])

df_normalizado = pd.concat([df[['customerID', 'Churn']], df_norm_customer, df_norm_phone, df_norm_internet , df_norm_account], axis=1)
display(df_normalizado.head())

In [ ]:
df_normalizado[['Churn', 'SeniorCitizen','gender','Partner','Dependents','PhoneService','MultipleLines','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling']] = df_normalizado[['Churn','SeniorCitizen' , 'gender','Partner','Dependents','PhoneService','MultipleLines','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling']].astype('category')
df_normalizado.info()

In [ ]:
new_column_names = {
    'tenure': 'Ternure',
    'Charges.Monthly': 'ChargesMonthly',
    'Charges.Total': 'ChargesTotal',
    'gender': 'Gender'
}

df_normalizado = df_normalizado.rename(columns=new_column_names)

display(df_normalizado.head())

In [ ]:
print("Valores Ausentes:")
print(df_normalizado.isnull().sum())

print("\nLinhas Duplicadas:")
print(df_normalizado.duplicated().sum())


print("\nVerificando Inconsist√™ncias em Colunas Categ√≥ricas:")
categorical_cols = df_normalizado.select_dtypes(include='category').columns
for col in categorical_cols:
    print(f"\nColuna: {col}")
    print(df_normalizado[col].value_counts())

object_cols = df_normalizado.select_dtypes(include='object').columns
print("\nVerificando Inconsist√™ncias em Colunas de Objeto:")
for col in object_cols:
    print(f"\nColuna: {col}")
    print(df_normalizado[col].value_counts())

In [ ]:
import numpy as np


df_normalizado['ChargesTotal'] = df_normalizado['ChargesTotal'].replace(' ', np.nan)
df_normalizado['ChargesTotal'] = pd.to_numeric(df_normalizado['ChargesTotal'])
df_normalizado['ChargesTotal'] = df_normalizado['ChargesTotal'].fillna(0)

df_normalizado['Churn'] = df_normalizado['Churn'].replace('', np.nan)
df_normalizado['Churn'] = df_normalizado['Churn'].fillna('No')


df_normalizado[col] = df_normalizado.apply(
   lambda row: 'No' if row['InternetService'] == 'No' and row[col] == 'No internet service' else row[col],
        axis=1
    )

df_normalizado[col] = df_normalizado.apply(
    lambda row: 'No' if row['PhoneService'] == 'No' and row[col] == 'No phone service' else row[col],
            axis=1
        )



print("Verifica√ß√£o ap√≥s a corre√ß√£o:")
print("\nValores Ausentes:")
print(df_normalizado.isnull().sum())

print("\nVerificando Inconsist√™ncias em Colunas Categ√≥ricas (ap√≥s corre√ß√£o):")
categorical_cols = df_normalizado.select_dtypes(include='category').columns
for col in categorical_cols:
    print(f"\nColuna: {col}")
    print(df_normalizado[col].value_counts())

print("\nVerificando Inconsist√™ncias em Colunas de Objeto (ap√≥s corre√ß√£o):")
object_cols = df_normalizado.select_dtypes(include='object').columns
for col in object_cols:
    print(f"\nColuna: {col}")
    print(df_normalizado[col].value_counts())


print("\nVerificando a coluna Churn ap√≥s preencher NaNs:")
print(df_normalizado['Churn'].value_counts())

In [ ]:
df_normalizado['Contas_Diarias'] = df_normalizado['ChargesMonthly'] / 30
display(df_normalizado.head())

In [12]:
coluna_nomes = df_normalizado.columns.tolist()
nomes_traduzidos = ['customerID',
'Rotatividade',
'Sexo',
'Idoso',
'Parceiro',
'Dependentes',
'Termo',
'Servi√ßo Telef√¥nico',
'V√°rias Linhas',
'Servi√ßo de Internet',
'Seguran√ßa Online',
'Backup Online',
'Prote√ß√£o do Dispositivo',
'Suporte T√©cnico',
'Streaming de TV',
'Streaming de Filmes',
'Contrato',
'Faturamento Eletr√¥nico',
'Forma de Pagamento',
'Cobran√ßa Mensal',
'Cobran√ßa Total',
'Contas_Di√°rias']

In [13]:
dic_rename = dict(zip(coluna_nomes, nomes_traduzidos))

df_normalizado = df_normalizado.rename(columns=dic_rename)

print("\nNovos nomes das colunas:")
print(df_normalizado.columns.tolist())

Novos nomes das colunas:
['customerID', 'Rotatividade', 'Sexo', 'Idoso', 'Parceiro', 'Dependentes', 'Termo', 'Servi√ßo Telef√¥nico', 'V√°rias Linhas', 'Servi√ßo de Internet', 'Seguran√ßa Online', 'Backup Online', 'Prote√ß√£o do Dispositivo', 'Suporte T√©cnico', 'Streaming de TV', 'Streaming de Filmes', 'Contrato', 'Faturamento Eletr√¥nico', 'Forma de Pagamento', 'Cobran√ßa Mensal', 'Cobran√ßa Total', 'Contas_Di√°rias']

In [14]:
df_normalizado.columns = df_normalizado.columns.str.replace(' ', '_')
print(df_normalizado.columns.tolist())

['customerID', 'Rotatividade', 'Sexo', 'Idoso', 'Parceiro', 'Dependentes', 'Termo', 'Servi√ßo_Telef√¥nico', 'V√°rias_Linhas', 'Servi√ßo_de_Internet', 'Seguran√ßa_Online', 'Backup_Online', 'Prote√ß√£o_do_Dispositivo', 'Suporte_T√©cnico', 'Streaming_de_TV', 'Streaming_de_Filmes', 'Contrato', 'Faturamento_Eletr√¥nico', 'Forma_de_Pagamento', 'Cobran√ßa_Mensal', 'Cobran√ßa_Total', 'Contas_Di√°rias']

In [15]:
replacements_across_cols = {
    'Rotatividade': {
        'Yes': 1,
        'No': 0
    },

    'Parceiro': {
        'Yes': 1, 'No': 0
    },

    'Dependentes': {
        'Yes': 1, 'No': 0
    },

    'Servi√ßo_Telef√¥nico': {
        'Yes': 1, 'No': 0
    },

    'V√°rias_Linhas': {
        'Yes': 1, 'No': 0
    },

    'Servi√ßo_Telef√¥nico': {
        'Yes': 1, 'No': 0
    },

    'Prote√ß√£o_do_Dispositivo': {
        'Yes': 1, 'No': 0
    },

    'Suporte_T√©cnico': {
        'Yes': 1, 'No': 0
    },

    'Streaming_de_TV': {
        'Yes': 1, 'No': 0
    },

    'Streaming_de_Filmes': {
        'Yes': 1, 'No': 0
    },

    'Faturamento_Eletr√¥nico': {
        'Yes': 1, 'No': 0
    },
    

   
}


df_normalizado = df_normalizado.replace(replacements_across_cols)
df_normalizado.head(10)

/tmp/ipykernel_1915/314834404.py:52: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_normalizado = df_normalizado.replace(replacements_across_cols)
/tmp/ipykernel_1915/314834404.py:52: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_normalizado = df_normalizado.replace(replacements_across_cols)
/tmp/ipykernel_1915/314834404.py:52: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_normalizado = df_normalizado.replace(replacements_across_cols)
/tmp/ipykernel_1915/314834404.py:52: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_normalizado = df_normalizado.replace(replacements_across_cols)
/tmp/ipykernel_1915/314834404.py:52: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_normalizado = df_normalizado.replace(replacements_across_cols)
/tmp/ipykernel_1915/314834404.py:52: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_normalizado = df_normalizado.replace(replacements_across_cols)
/tmp/ipykernel_1915/314834404.py:52: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_normalizado = df_normalizado.replace(replacements_across_cols)
/tmp/ipykernel_1915/314834404.py:52: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_normalizado = df_normalizado.replace(replacements_across_cols)
/tmp/ipykernel_1915/314834404.py:52: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_normalizado = df_normalizado.replace(replacements_across_cols)
/tmp/ipykernel_1915/314834404.py:52: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_normalizado = df_normalizado.replace(replacements_across_cols)

,customerID,Rotatividade,Sexo,Idoso,Parceiro,Dependentes,Termo,Servi√ßo_Telef√¥nico,V√°rias_Linhas,Servi√ßo_de_Internet,...,Prote√ß√£o_do_Dispositivo,Suporte_T√©cnico,Streaming_de_TV,Streaming_de_Filmes,Contrato,Faturamento_Eletr√¥nico,Forma_de_Pagamento,Cobran√ßa_Mensal,Cobran√ßa_Total,Contas_Di√°rias
0,0002-ORFBO,0,Female,0,1,1,9,1,0,DSL,...,0,1,1,0,One year,1,Mailed check,65.60,593.30,2.186667
1,0003-MKNFE,0,Male,0,0,0,9,1,1,DSL,...,0,0,0,1,Month-to-month,0,Mailed check,59.90,542.40,1.996667
2,0004-TLHLJ,1,Male,0,0,0,4,1,0,Fiber optic,...,1,0,0,0,Month-to-month,1,Electronic check,73.90,280.85,2.463333
3,0011-IGKFF,1,Male,1,1,0,13,1,0,Fiber optic,...,1,0,1,1,Month-to-month,1,Electronic check,98.00,1237.85,3.266667
4,0013-EXCHZ,1,Female,1,1,0,3,1,0,Fiber optic,...,0,1,1,0,Month-to-month,1,Mailed check,83.90,267.40,2.796667
5,0013-MHZWF,0,Female,0,0,1,9,1,0,DSL,...,0,1,1,1,Month-to-month,1,Credit card (automatic),69.40,571.45,2.313333
6,0013-SMEOE,0,Female,1,1,0,71,1,0,Fiber optic,...,1,1,1,1,Two year,1,Bank transfer (automatic),109.70,7904.25,3.656667
7,0014-BMAQU,0,Male,0,1,0,63,1,1,Fiber optic,...,0,1,0,0,Two year,1,Credit card (automatic),84.65,5377.80,2.821667
8,0015-UOCOJ,0,Female,1,0,0,7,1,0,DSL,...,0,0,0,0,Month-to-month,1,Electronic check,48.20,340.35,1.606667
9,0016-QLJIS,0,Female,0,1,1,65,1,1,DSL,...,1,1,1,1,Two year,1,Mailed check,90.45,5957.90,3.015000

#üìä Carga e an√°lise

#üìÑRelatorio Final