#ðŸ“Œ ExtracÃ£o

In [ ]:
!pip install pandas
!pip install matplotlib seaborn
!pip install numpy

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import json

In [ ]:
df = pd.read_json('https://raw.githubusercontent.com/alura-cursos/challenge2-data-science/refs/heads/main/TelecomX_Data.json')
df.head()

#ðŸ”§ TransformaÃ§Ã£o

In [ ]:
df_norm_customer  = pd.json_normalize(df['customer'])
df_norm_internet  = pd.json_normalize(df['internet'])
df_norm_phone  = pd.json_normalize(df['phone'])
df_norm_account = pd.json_normalize(df['account'])

df_normalizado = pd.concat([df[['customerID', 'Churn']], df_norm_customer, df_norm_phone, df_norm_internet , df_norm_account], axis=1)
display(df_normalizado.head())

In [ ]:
df_normalizado[['Churn', 'SeniorCitizen','gender','Partner','Dependents','PhoneService','MultipleLines','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling']] = df_normalizado[['Churn','SeniorCitizen' , 'gender','Partner','Dependents','PhoneService','MultipleLines','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling']].astype('category')
df_normalizado.info()

In [ ]:
new_column_names = {
    'tenure': 'Ternure',
    'Charges.Monthly': 'ChargesMonthly',
    'Charges.Total': 'ChargesTotal',
    'gender': 'Gender'
}

df_normalizado = df_normalizado.rename(columns=new_column_names)

display(df_normalizado.head())

In [ ]:
print("Valores Ausentes:")
print(df_normalizado.isnull().sum())

print("\nLinhas Duplicadas:")
print(df_normalizado.duplicated().sum())


print("\nVerificando InconsistÃªncias em Colunas CategÃ³ricas:")
categorical_cols = df_normalizado.select_dtypes(include='category').columns
for col in categorical_cols:
    print(f"\nColuna: {col}")
    print(df_normalizado[col].value_counts())

object_cols = df_normalizado.select_dtypes(include='object').columns
print("\nVerificando InconsistÃªncias em Colunas de Objeto:")
for col in object_cols:
    print(f"\nColuna: {col}")
    print(df_normalizado[col].value_counts())

In [ ]:
import numpy as np


df_normalizado['ChargesTotal'] = df_normalizado['ChargesTotal'].replace(' ', np.nan)
df_normalizado['ChargesTotal'] = pd.to_numeric(df_normalizado['ChargesTotal'])
df_normalizado['ChargesTotal'] = df_normalizado['ChargesTotal'].fillna(0)

df_normalizado['Churn'] = df_normalizado['Churn'].replace('', np.nan)
df_normalizado['Churn'] = df_normalizado['Churn'].fillna('No')


df_normalizado[col] = df_normalizado.apply(
   lambda row: 'No' if row['InternetService'] == 'No' and row[col] == 'No internet service' else row[col],
        axis=1
    )

df_normalizado[col] = df_normalizado.apply(
    lambda row: 'No' if row['PhoneService'] == 'No' and row[col] == 'No phone service' else row[col],
            axis=1
        )



print("VerificaÃ§Ã£o apÃ³s a correÃ§Ã£o:")
print("\nValores Ausentes:")
print(df_normalizado.isnull().sum())

print("\nVerificando InconsistÃªncias em Colunas CategÃ³ricas (apÃ³s correÃ§Ã£o):")
categorical_cols = df_normalizado.select_dtypes(include='category').columns
for col in categorical_cols:
    print(f"\nColuna: {col}")
    print(df_normalizado[col].value_counts())

print("\nVerificando InconsistÃªncias em Colunas de Objeto (apÃ³s correÃ§Ã£o):")
object_cols = df_normalizado.select_dtypes(include='object').columns
for col in object_cols:
    print(f"\nColuna: {col}")
    print(df_normalizado[col].value_counts())


print("\nVerificando a coluna Churn apÃ³s preencher NaNs:")
print(df_normalizado['Churn'].value_counts())

In [11]:
df_normalizado['Contas_Diarias'] = df_normalizado['ChargesMonthly'] / 30
display(df_normalizado.head())

,customerID,Churn,Gender,SeniorCitizen,Partner,Dependents,Ternure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,ChargesMonthly,ChargesTotal,Contas_Diarias
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.30,2.186667
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.40,1.996667
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85,2.463333
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85,3.266667
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.40,2.796667

#ðŸ“Š Carga e anÃ¡lise

#ðŸ“„Relatorio Final